.fade {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  opacity: 0.3;
}

.modal {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 500px;
  height: 400px;
  z-index: 1;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: modalEffect 0.5s;
}
.modal h2 {
  margin-bottom: 1em;
}

.modal form {
  width: 90%;
}

@keyframes modalEffect {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(initial);
  }
}
